.vscode

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.zip

/.env
/.idea/
/.vscode/
/data/
/node_modules/
/test/
/vendor/
/logs/

coverage.out
coverage.html
bin/*
!/bin/watch.sh
data.db
daemon